<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="/assets/images/logo.png" alt="" height="100" />
    </span>
    <span class="logo-sm">
      <img src="/assets/images/logo_sm.png" alt="" height="100" />
    </span>
  </a>

  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="/assets/images/logo-dark.png" alt="" height="16" />
    </span>
    <span class="logo-sm">
      <img src="/assets/images/logo_sm_dark.png" alt="" height="16" />
    </span>
  </a>

  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">

      <li class="side-nav-item">
        <a href="/admin/dashboard" class="side-nav-link {{#if dashboard}}customize-active{{/if}}">
          <i class="uil-home-alt"></i>
          <span> Dashboard </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/events" class="side-nav-link {{#if events}}customize-active{{/if}}">
          <i class="mdi mdi-calendar"></i>
          <span> Apply Insurance</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/announcements" class="side-nav-link {{#if announcements}}customize-active{{/if}}">
          <i class="mdi mdi-account-tie-voice-outline"></i>
          <span> Announcements</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/users" class="side-nav-link {{#if users}}customize-active{{/if}}">
          <i class="mdi mdi-account-group"></i>
          <span> Users</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/farmers" class="side-nav-link {{#if users}}farmers-active{{/if}}">
          <i class="mdi mdi-account-group"></i>
          <span> Farmers</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/stock-in" class="side-nav-link {{#if stocksIn}}customize-active{{/if}}">
          <i class="mdi mdi-store"></i>
          <span> Stock in</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="/admin/stock-out" class="side-nav-link {{#if stocksOut}}customize-active{{/if}}">
          <i class="mdi mdi-store-minus-outline"></i>
          <span> Stock out</span>
        </a>
      </li>
    </ul>
    <!-- End Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
