<div class="wrapper">
  {{> admin-sidenav stockOut=true}}
  <div class="content-page">
    <div class="content">
      {{> admin-topnav}}

      <!-- Start Content-->
      <div class="container-fluid">
        <div class="card mt-5 p-3">
          <div class="row">
            <div class="col-sm-12">
              <button
                class="btn btn-success btn-sm mb-2 mx-1"
                data-bs-toggle="modal"
                data-bs-toggle="modal"
                data-bs-target="#add-product"
              >
                Stock out
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="data-datatable">
              <thead class="table-light">
                <tr>
                  <th>Name</th>
                  <th>Date Added</th>
                  <th>Type</th>
                  <th>Qty</th>
                </tr>
              </thead>
              <tbody>
                {{#each stocks}}
                <tr id="{{_id}}">
                  <td>{{product_id.name}}</td>
                  <td>{{moment this.createdAt 'MMMM DD, YYYY'}}</td>
                  <td>{{product_id.type}}</td>
                  <td>{{qty}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>

        <!-- end row -->
      </div>
      <!-- container -->
    </div>
  </div>
</div>

<!-- ADD PRODUCT -->
<div id="add-product" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/admin/stock-out/add" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name" class="form-label">Select Product</label>
            <select id="product_id" name="product_id" class="form-select" required onchange="getQty()">
              <option value=""></option>
              {{#each products}}
              <option value="{{_id}}-{{qty}}">{{name}}</option>
              {{/each}}
            </select>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Quantity: <span id="product-qty" class="text-danger"></span></label>
            <input type="number" name="qty" class="form-control" id="qtyMax" required />
          </div>

          <div class="mb-3 text-center">
            <button class="btn btn-primary">Stock out</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- third party js -->
<script src="/assets/js/vendor/apexcharts.min.js"></script>
<script src="/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
<!-- third party js ends -->

<script>
  function getQty() {
    let qty = document.getElementById("product_id").value;
    qty = qty.split("-");
    qty = qty[1];

    if (!qty) qty = 0;

    $("#product-qty").html(qty);
    $("#qtyMax").attr("max", qty);
  }
</script>
