<div class="wrapper">
  {{> admin-sidenav usersActive=true}}
  <div class="content-page">
    <div class="content">
      {{> admin-topnav}}

      <!-- Start Content-->
      <div class="container-fluid p-2">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h4 class="page-title">{{toUpperCharAt credentials.type}}</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="">
                    <button class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#add-modal">
                      <i class="mdi mdi-plus-circle me-2"></i> Add Technician
                    </button>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-centered table-striped dt-responsive nowrap w-100" id="data-datatable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Gender</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        
                        <!-- 
                        <th style="width: 75px">Action</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      {{#each users}}
                      <tr id="{{this._id}}">
                        <td class="table-user">
                          <img src="{{this.profile_img}}" alt="user" class="me-2 rounded-circle" />
                          <a
                            href="javascript:void(0);"
                            class="text-body fw-semibold"
                            data-bs-toggle="modal"
                            data-bs-target="#update-modal-{{this._id}}"
                          >
                            {{#if this.firstname}} {{this.firstname}}{{else}}{{this.email}}{{/if}} {{this.lastname}}
                          </a>
                        </td>
                        <td>{{this.username}}</td>
                        <td>{{this.scope}}</td>
                        <td>{{this.gender}}</td>
                        <td>{{moment this.createdAt 'MMMM DD YYYY'}}</td>
                        <td>{{this.farm.status}}</td>
                        <td>
                          {{#ifCond scope '==' 'farmer'}}
                          <a class="action-icon" onclick="printFarmer('{{_id}}')">
                            <i class="mdi mdi-cloud-print"></i
                          ></a>
                          {{/ifCond}}
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- container -->
    </div>
  </div>
</div>
<!-- ADD MODAL -->
<div id="add-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <div class="text-center my-4">
          <span
            ><img src="/assets/images/logo-dark.png" alt="" height="18"
          /></span>
        </div> -->

        <form action="/admin/user/add" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="email">Username</label>
            <input name="username" class="form-control" type="email" required />
          </div>
          <div class="mb-3">
            <label for="email">Password</label>
            <input name="password" class="form-control" type="password" required />
          </div>
          <div class="mb-3">
            <label for="email">First name</label>
            <input name="firstname" class="form-control" type="text" required />
          </div>
          <div class="mb-3">
            <label for="email">Last name</label>
            <input name="lastname" class="form-control" type="text" required />
          </div>
          <div class="mb-3">
            <label for="email">Address</label>
            <input name="address" class="form-control" type="text" required />
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="mb-3">
                <label for="email">Gender</label>
                <select name="gender" class="form-select">
                  <option value="Male" selected>Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="col-6">
                <label for="email">Birthday</label>
                <input name="birthday" class="form-control" type="date" required />
              </div>
            </div>
            
          <div class="mb-3">
            <label for="scope">Role</label>
            <select name="scope" id="scope" class="form-select">
              <!-- <option value="farmer">Farmer</option> -->
              <option value="technician" selected>CI</option>
            </select>
          </div>
          </div>

          <div class="mb-3 text-center">
            <button class="btn btn-primary">Add {{credentials.type}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE MODAL -->
{{#each users}}
<div id="update-modal-{{this._id}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- USER CREDENTIALS -->
        <div class="mb-3">
          <label for="email">Username</label>
          <input name="username" class="form-control" type="email" value="{{this.username}}" required readonly />
        </div>
        <div class="mb-3">
          <label for="email">First name</label>
          <input name="firstname" class="form-control" type="text" value="{{this.firstname}}" required readonly />
        </div>
        <div class="mb-3">
          <label for="email">Last name</label>
          <input name="lastname" class="form-control" type="text" value="{{this.lastname}}" required readonly />
        </div>
        <div class="mb-3">
          <label for="email">Address</label>
          <input name="address" class="form-control" type="text" value="{{this.address}}" required readonly />
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-6">
              <label for="email">Gender</label>
              <input type="text" value="{{this.gender}}" readonly class="form-control" />
            </div>
            <div class="col-6">
              <label for="email">Birthday</label>
              <input type="text" value="{{moment this.birthday 'MMMM DD, YYYY'}}" class="form-control" readonly />
            </div>
          </div>
        </div>

        {{#if this.commonity}}
        <div class="mb-3 border p-2">
          <div class="mb-3">
            <label for="email">Farm address</label>
            <input name="farm_address" class="form-control" type="text" required readonly />
          </div>
          <div class="mb-3">
            <label for="email">Commonity</label>
            <input
              name="commonity"
              class="form-control"
              id="commonity-{{this._id}}"
              value="{{this.commonity}}"
              required
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="email">Species</label>
            <input
              name="species"
              class="form-control"
              value="{{this.species}}"
              required
              readonly
              id="species-{{this._id}}"
            />
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="modal fade" id="generateFarmerModal" tabindex="-1" aria-labelledby="generateFarmerModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <div id="generateFarmerBodyMain">
          <div class="row ms-3" id="generateFarmerBody" style="overflow: scroll"></div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="printDiv('generateFarmerBodyMain', '/admin/users')">
            Print
          </button>
        </div>
      </div>
    </div>
  </div>

  <!----->
  {{#each users}}
  <script>
    var commonity = document.getElementById("commonity-{{this._id}}");
    var species = document.getElementById("species-{{this._id}}");
    new Tagify(commonity);
    new Tagify(species);
  </script>
  {{/each}}

  <script>
    function printDiv(id, location) {
      var printContents = document.getElementById(id).innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      window.location = location;
    }

    // prettier-ignore
    const users = JSON.parse('{{#renderJsonString users}}{{/renderJsonString}}');
    function printFarmer(_id) {
      const i = users.findIndex((s) => s._id == _id);
      const user = users[i];
      const dob = user.birthday;
      let isRegistered = false;
      if (user.farm.registeredOwner == "registered owner") isRegistered = true;
      let farmersSelected = user?.farm?.farmersSelected ? user?.farm?.farmersSelected.split(",") : [];
      let farmWorkerSelected = user?.farm?.farmWorkerSelected ? user?.farm?.farmWorkerSelected.split(",") : [];
      $("#generateFarmerModal").modal("show");
      $("#generateFarmerBody").html(`
          <div class="row col-12 mb-0 pb-0">
            <div class="col-10">
              <h1>
                ANI AT KITA<br />
                RSBSA ENROLLMENT FORM
              </h1>
              <div>
                <label class="fw-bolder">ENROLLMENT:</label>
                <input type="checkbox" /> <label>New </label> <input type="checkbox" /> <label>Existing </label>
                <br />
              </div>
              <p>Reference/Control No.____________________________________________</p>
            </div>
            <div class="col-2" style="border: 1px solid gray">
              <img src="${user.profile_img}" class="img-fluid" width="200px" />
            </div>
          </div>
          <div class="col-12 mt-0 pt-0" style="border: 1px solid black">
            <h5 class="fw-bolder">PART I: PERSONAL INFORMATION</h5>
          </div>
          <div class="col-4 pt-3">
            <h5>First name: <span id="firstName">${user.firstname}</span></h5>
            <h5>Gender: <span id="gender">${user.gender}</span></h5>
            <h5>Contact number: <span id="gender">${user.farm.phoneNumber}</span></h5>
          </div>
          <div class="col-4 pt-3">
            <h5>Middle name: <span id="middleName"></span></h5>
            <h5>Date of birth: <span id="birthday">${moment(dob).format("MM-DD-YYYY")}</span></h5>
          </div>
          <div class="col-4 pt-3">
            <h5>last name: <span id="lastName">${user.lastname}</span></h5>
            <h5>Civil status: <span id="civilStatus">${user.farm.civilStatus}</span></h5>
          </div>
          <div class="col-12 pt-3 row pt-0 mt-0">
            <hr />
            <div class="col-12 py-0 my-0">
              <h5>Address</h5>
            </div>
            <div class="col-4">
              <h5>Region: <span id="region">${user.farm.region}</span></h5>
            </div>
            <div class="col-4">
              <h5>Municipality: <span id="municipality">${user.farm.municipality}</span></h5>
            </div>
            <div class="col-4">
              <h5>Barangay: <span id="barangay">${user.farm.barangay}</span></h5>
            </div>
            <div class="col-12 mt-4" style="border: 1px solid black">
              <h5 class="fw-bolder">PART II: FARM PROFILE</h5>
            </div>
            <div class="col-12">
              <div class="row pt-2">
                <div class="col-4"><h5 class="fw-bolder">FARM OWNER</h5></div>
                <div class="col-4"><input type="checkbox" ${
                  isRegistered == true ? "checked" : ""
                } /> <label class="fw-bolder">REGISTERED OWNER </label></div>
                <div class="col-4">
                  <input type="checkbox" />
                  <label class="fw-bolder">OTHERS:${isRegistered == false ? user.farm.registeredOwner : ""} </label>
                </div>
                <div class="col-4">
                  <h5>Hectares: <span id="region">${user.farm.hectares}</span></h5>
                </div>
                <div class="col-4">
                  <h5>Farm area: <span id="region">${user.farm.farmArea}</span></h5>
                </div>
              </div>
              <hr />
            </div>
            <div class="col-6" style="border: 1px solid gray">
              <center><h5>For farmers:</h5></center>
              <div id="farmersSelected"></div>
            </div>
            <div class="col-6" style="border: 1px solid gray">
              <center><h5>For farmworkers:</h5></center>
              <div id="farmWorkerSelected"></div>
            </div>
            <div class="col-12" style="border: 1px solid gray">
              <h5>VERIFIED TRUE AND CORRECT BY:</h5>
              <div class="row mt-5">
                <div class="col-4">
                  <center>
                    <span>__________________________________________</span>
                    <span style="font-size: 10px">SIGNATURE WITH PRINTED NAME/DATE</span>
                    <h5>BARANGAY CHAIRMAN</h5>
                  </center>
                </div>
                <div class="col-4">
                  <center>
                    <span>__________________________________________</span>
                    <span style="font-size: 10px">SIGNATURE WITH PRINTED NAME/DATE</span>
                    <h5>CITY/MUNICIPALITY AGRICULTURE OFFICE</h5>
                  </center>
                </div>
                <div class="col-4">
                  <center>
                    <span>__________________________________________</span>
                    <span style="font-size: 10px">SIGNATURE WITH PRINTED NAME/DATE</span>
                    <h5>CAFC/MAFC CHAIRMAN</h5>
                  </center>
                </div>
              </div>
            </div>
          </div>
      `);
      farmersSelected.map((r) => {
        $("#farmersSelected").append(`<input type="checkbox" checked><label class="fw-bolder mx-1">${r}</label><br/>`);
      });
      farmWorkerSelected.map((r) => {
        $("#farmWorkerSelected").append(
          `<input type="checkbox" checked><label class="fw-bolder mx-1">${r}</label><br/>`
        );
      });
    }
  </script>
</div>
